@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans");

.intercom-navbar {
    position: absolute;
    height: 50px;
    width: inherit;
    top: -50px;
    border-radius: 10px 10px 0 0;
    background-color: #f05139;
}

.intercom-navbar>p {
    vertical-align: middle;
    color: #fff;
    padding: 5px;
    float: left;
}

.message {
    font-size: 13px;
    width: 100%;
    display: block;
    border-width: 0;
    padding: 10px;
}

/*Customer Chat Container*/
.customer-chat-modal {
    z-index: 100;
    position: fixed;
    height: 350px;
    width: 310px;
    right: 10px;
    bottom: 25px;
}

/*Styles for Chat Window*/
.modal-window {
    background-color: #f4f4f4;
    color: #36363f;
    position: absolute;
    bottom: 120px;
    visibility: hidden;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.modal-window.bawk-open {
    visibility: visible;

    -webkit-animation: slide-in-fwd-center 0.4s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
}

.message {
    padding: 10px;
}

/*Styles for floating Chat Icon*/
.toggle-window-button  {
    background: url("../../images/assets/customer-chat.svg");
    cursor: pointer;
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 0;
    right: 1px;
    border-radius: 50px;
    background-size: cover;

    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */

}

.toggle-window-button.bawk-open {
    background: url("../../images/assets/chat-close.svg");
    width: 50px;
    height: 51px;
    background-size:cover;
}

.toggle-window-button  > p {
    display: none;
}

.messages-list-container {
    height: 280px;
    width: 100%;
    margin-bottom: 30px;
}
.messages-list {
    overflow-y: scroll;
    padding: 10px;
    background-color: #f4f4f4;
    display: block;
}

.message-options {
    width: inherit;
    height: 50px;
    border-top: 1px solid #b2b2b2;
    background-color: white;
}

.customer-chat-options {
    position: absolute;
    width: inherit;
    height: 50px;
    bottom: -100px;
}

.sender,
.receiver {
    font-size: 13px;
}

.email-cta {
    font-size: 13px;
}

.sender>p:first-child {
    text-align: right;
    font-size: 12px;
    margin-bottom: 0;
    color: #666;
    clear: both;
}

.sender>p:last-child {
    width: auto;
    max-width: 70%;
    height: auto;
    padding: 5px 10px;
    border-radius: 10px 10px 0 10px;
    display: inline-block;
    background-color: #e1e1e1;
    margin-bottom: 2px;
    float: right;
    clear: both;
}

.receiver>p:first-child,
.email-cta>p:first-child {
    text-align: left;
    font-size: 12px;
    margin-bottom: 0;
    color: #666;
    clear: both;
}

.receiver>p:last-child,
.email-cta>p:last-child {
    width: auto;
    max-width: 70%;
    height: auto;
    padding: 5px 10px;
    border-radius: 10px 10px 10px 0;
    display: inline-block;
    background-color: #f05139;
    margin-right: 10px;
    margin-bottom: 2px;
    color: #fff;
    float: left;
    clear: both;
}

.email-cta>p:last-child {
    color: #000;
    background-color: #dbdbdb;
    width: auto;
    max-width: 80%;
    border-top: 2px solid #f05139;
}

#email-submit {
    width: 100%;
    background-color: #fff;
    margin-bottom: 1px;
}

/* Admin View */
.customer-chat-admin-panel {
    height: 700px;
    background-color: #f4f4f4;
}

.inbox {
    position: absolute;
    color: #36363f;
    width: 240px;
    height: 399.2px;
    left: -255px;
    top: 0;
    font-family: "Open Sans";
    font-size: 0.9rem;
    border-right: 3px solid #ddd;
    background-color: #f4f4f4;
    padding-left: 10px;
    overflow-x: hidden;
    border-bottom-left-radius: 10px;
}

.user,
.status {
    cursor: pointer;
    height: 20px;
    padding: 0.5rem;
}

.user:hover {
    background-color: #ddd;
}

.messages-list-admin {
    height: 700px;
    width: 500px;
    right: 10px;
    bottom: 100px;
    overflow-y: scroll;
    float: left;
    clear: both;
}

.admin-tab {
    cursor: pointer;
    height: 50px;
/*    position: absolute;
    height: 50px;
    width: 560px;
    left: -250px;
    top: -50px;
    border-radius: 10px 10px 0 0;*/
    background-color: #f05139;
}

.admin-tab>p {
    vertical-align: middle;
    color: #fff;
    padding: 5px;
    float: left;
}

.admin-tab {
    position: relative;
}

.message-options {
    display: flex;
    flex-wrap: wrap;
}

.message-options input[name="admin_message"] {
    flex: 1 1 50%;
    box-sizing: border-box;
    margin: 0.3rem;
}

.message-options button[name="admin_sendbtn"] {
    flex: 1 1 50%;
    box-sizing: border-box;
    margin: 5px;
}

.admin-tab {
    position: relative;
}

.admin-tab p {
    position: absolute;
    top: -8px;
    left: 11px;
    font-family: "Montserrat";
    font-size: 1.1rem;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-11-14 11:36:27
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}