customer-chat, .sil-widget-customer-chat{
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

customer-chat p, .sil-widget-customer-chat p {
  margin-top: 0;
}
customer-chat a, .sil-widget-customer-chat a {
  color: #1eaedb;
}
customer-chat a:hover, .sil-widget-customer-chat a:hover {
  color: #0fa0ce;
}
customer-chat .button, .sil-widget-customer-chat .button,
customer-chat button, .sil-widget-customer-chat button,
customer-chat input[type="submit"], .sil-widget-customer-chat input[type="submit"],
customer-chat input[type="reset"], .sil-widget-customer-chat input[type="reset"],
customer-chat input[type="button"], .sil-widget-customer-chat input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
customer-chat .button:hover, .sil-widget-customer-chat .button:hover,
customer-chat button:hover, .sil-widget-customer-chat button:hover,
customer-chat input[type="submit"]:hover, .sil-widget-customer-chat input[type="submit"]:hover,
customer-chat input[type="reset"]:hover, .sil-widget-customer-chat input[type="reset"]:hover,
customer-chat input[type="button"]:hover, .sil-widget-customer-chat input[type="button"]:hover,
customer-chat .button:focus, .sil-widget-customer-chat .button:focus,
customer-chat button:focus, .sil-widget-customer-chat button:focus,
customer-chat input[type="submit"]:focus, .sil-widget-customer-chat input[type="submit"]:focus,
customer-chat input[type="reset"]:focus, .sil-widget-customer-chat input[type="reset"]:focus,
customer-chat input[type="button"]:focus, .sil-widget-customer-chat input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
customer-chat .button.button-primary, .sil-widget-customer-chat .button.button-primary,
customer-chat button.button-primary, .sil-widget-customer-chat button.button-primary,
customer-chat input[type="submit"].button-primary, .sil-widget-customer-chat input[type="submit"].button-primary,
customer-chat input[type="reset"].button-primary, .sil-widget-customer-chat input[type="reset"].button-primary,
customer-chat input[type="button"].button-primary, .sil-widget-customer-chat input[type="button"].button-primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
customer-chat .button.button-primary:hover, .sil-widget-customer-chat .button.button-primary:hover,
customer-chat button.button-primary:hover, .sil-widget-customer-chat button.button-primary:hover,
customer-chat input[type="submit"].button-primary:hover, .sil-widget-customer-chat input[type="submit"].button-primary:hover,
customer-chat input[type="reset"].button-primary:hover, .sil-widget-customer-chat input[type="reset"].button-primary:hover,
customer-chat input[type="button"].button-primary:hover, .sil-widget-customer-chat input[type="button"].button-primary:hover,
customer-chat .button.button-primary:focus, .sil-widget-customer-chat .button.button-primary:focus,
customer-chat button.button-primary:focus, .sil-widget-customer-chat button.button-primary:focus,
customer-chat input[type="submit"].button-primary:focus, .sil-widget-customer-chat input[type="submit"].button-primary:focus,
customer-chat input[type="reset"].button-primary:focus, .sil-widget-customer-chat input[type="reset"].button-primary:focus,
customer-chat input[type="button"].button-primary:focus, .sil-widget-customer-chat input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
customer-chat input[type="email"], .sil-widget-customer-chat input[type="email"],
customer-chat input[type="number"], .sil-widget-customer-chat input[type="number"],
customer-chat input[type="search"], .sil-widget-customer-chat input[type="search"],
customer-chat input[type="text"], .sil-widget-customer-chat input[type="text"],
customer-chat input[type="tel"], .sil-widget-customer-chat input[type="tel"],
customer-chat input[type="url"], .sil-widget-customer-chat input[type="url"],
customer-chat input[type="password"], .sil-widget-customer-chat input[type="password"],
customer-chat textarea, .sil-widget-customer-chat textarea,
customer-chat select, .sil-widget-customer-chat select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
customer-chat input[type="email"], .sil-widget-customer-chat input[type="email"],
customer-chat input[type="number"], .sil-widget-customer-chat input[type="number"],
customer-chat input[type="search"], .sil-widget-customer-chat input[type="search"],
customer-chat input[type="text"], .sil-widget-customer-chat input[type="text"],
customer-chat input[type="tel"], .sil-widget-customer-chat input[type="tel"],
customer-chat input[type="url"], .sil-widget-customer-chat input[type="url"],
customer-chat input[type="password"], .sil-widget-customer-chat input[type="password"],
customer-chat textarea, .sil-widget-customer-chat textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
customer-chat textarea, .sil-widget-customer-chat textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
customer-chat input[type="email"]:focus, .sil-widget-customer-chat input[type="email"]:focus,
customer-chat input[type="number"]:focus, .sil-widget-customer-chat input[type="number"]:focus,
customer-chat input[type="search"]:focus, .sil-widget-customer-chat input[type="search"]:focus,
customer-chat input[type="text"]:focus, .sil-widget-customer-chat input[type="text"]:focus,
customer-chat input[type="tel"]:focus, .sil-widget-customer-chat input[type="tel"]:focus,
customer-chat input[type="url"]:focus, .sil-widget-customer-chat input[type="url"]:focus,
customer-chat input[type="password"]:focus, .sil-widget-customer-chat input[type="password"]:focus,
customer-chat textarea:focus, .sil-widget-customer-chat textarea:focus,
customer-chat select:focus, .sil-widget-customer-chat select:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}
customer-chat label, .sil-widget-customer-chat label,
customer-chat legend, .sil-widget-customer-chat legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  max-width: none;
}
customer-chat fieldset, .sil-widget-customer-chat fieldset {
  padding: 0;
  border-width: 0;
}
customer-chat input[type="checkbox"], .sil-widget-customer-chat input[type="checkbox"],
customer-chat input[type="radio"], .sil-widget-customer-chat input[type="radio"] {
  display: inline;
}
customer-chat label > .label-body, .sil-widget-customer-chat label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}
customer-chat ul, .sil-widget-customer-chat ul {
  list-style: circle inside;
}
customer-chat ol, .sil-widget-customer-chat ol {
  list-style: decimal inside;
}
customer-chat ol, .sil-widget-customer-chat ol,
customer-chat ul, .sil-widget-customer-chat ul {
  padding-left: 0;
  margin-top: 0;
}
customer-chat ul ul, .sil-widget-customer-chat ul ul,
customer-chat ul ol, .sil-widget-customer-chat ul ol,
customer-chat ol ol, .sil-widget-customer-chat ol ol,
customer-chat ol ul, .sil-widget-customer-chat ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
customer-chat li, .sil-widget-customer-chat li {
  margin-bottom: 1rem;
}
customer-chat code, .sil-widget-customer-chat code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
customer-chat pre > code, .sil-widget-customer-chat pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
customer-chat th, .sil-widget-customer-chat th,
customer-chat td, .sil-widget-customer-chat td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}
customer-chat th:first-child, .sil-widget-customer-chat th:first-child,
customer-chat td:first-child, .sil-widget-customer-chat td:first-child {
  padding-left: 0;
}
customer-chat th:last-child, .sil-widget-customer-chat th:last-child,
customer-chat td:last-child, .sil-widget-customer-chat td:last-child {
  padding-right: 0;
}
customer-chat button, .sil-widget-customer-chat button,
customer-chat .button, .sil-widget-customer-chat .button {
  margin-bottom: 1rem;
}
customer-chat input, .sil-widget-customer-chat input,
customer-chat textarea, .sil-widget-customer-chat textarea,
customer-chat select, .sil-widget-customer-chat select,
customer-chat fieldset, .sil-widget-customer-chat fieldset {
  margin-bottom: 1.5rem;
}
customer-chat pre, .sil-widget-customer-chat pre,
customer-chat blockquote, .sil-widget-customer-chat blockquote,
customer-chat dl, .sil-widget-customer-chat dl,
customer-chat figure, .sil-widget-customer-chat figure,
customer-chat table, .sil-widget-customer-chat table,
customer-chat p, .sil-widget-customer-chat p,
customer-chat ul, .sil-widget-customer-chat ul,
customer-chat ol, .sil-widget-customer-chat ol,
customer-chat form, .sil-widget-customer-chat form {
  margin-bottom: 1rem;
}
customer-chat .u-full-width, .sil-widget-customer-chat .u-full-width {
  width: 100%;
  box-sizing: border-box;
}
customer-chat .u-max-full-width, .sil-widget-customer-chat .u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
customer-chat .u-pull-right, .sil-widget-customer-chat .u-pull-right {
  float: right;
}
customer-chat .u-pull-left, .sil-widget-customer-chat .u-pull-left {
  float: left;
}
customer-chat hr, .sil-widget-customer-chat hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}
customer-chat .container:after, .sil-widget-customer-chat .container:after,
customer-chat .row:after, .sil-widget-customer-chat .row:after,
customer-chat .u-cf, .sil-widget-customer-chat .u-cf {
  content: "";
  display: table;
  clear: both;
}
